HAULMATCH_ENV=production
HAULMATCH_SECRET_KEY=REPLACE_WITH_AT_LEAST_48_RANDOM_CHARACTERS
HAULMATCH_DATABASE_URL=postgresql+psycopg://haulmatch:REPLACE_DB_PASSWORD@db:5432/haulmatch
HAULMATCH_PUBLIC_BASE_URL=https://haulmatch.wykiesautomation.co.za
HAULMATCH_ALLOWED_HOSTS=haulmatch.wykiesautomation.co.za
HAULMATCH_UPLOAD_DIR=/app/private_uploads
HAULMATCH_SEED_DEMO=false
POSTGRES_DB=haulmatch
POSTGRES_USER=haulmatch
POSTGRES_PASSWORD=REPLACE_DB_PASSWORD

HAULMATCH_PAYFAST_MODE=sandbox
HAULMATCH_PAYFAST_MERCHANT_ID=REPLACE_PAYFAST_MERCHANT_ID
HAULMATCH_PAYFAST_MERCHANT_KEY=REPLACE_PAYFAST_MERCHANT_KEY
HAULMATCH_PAYFAST_PASSPHRASE=REPLACE_PAYFAST_PASSPHRASE
